@tailwind base;
@tailwind components;
@tailwind utilities;

select,
textarea,
input {
  font-size: 16px;
}

.cartFooterShadow::before {
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
}

.productAddedToCart::before {
  content: "";
  width: 90%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0px;
  left: 5%;
}
